.notFound {
    background: url(../../Public/Images/cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.notFound h2 {
    font-family: Kite One;
    text-align: center;
    font-size: 50px;
    color: #6D92C7;
}